extend layout

block links
  link(rel='stylesheet', href='/stylesheets/minesweeper.css')

block content
  div.contentBox
    div.heading
      div.minesLeft
        div.digitZero &nbsp;
        div.digitOne &nbsp;
        div.digitZero &nbsp;
      div.face.facesmile &nbsp;
      div.timer
        div.digitZero &nbsp;
        div.digitZero &nbsp;
        div.digitZero &nbsp;
    div.board
      table
  script.
    var digitClasses = ['digitZero', 'digitOne', 'digitTwo', 'digitThree', 'digitFour', 'digitFive', 'digitSix', 'digitSeven', 'digitEight', 'digitNine']

    var game

    //init board
    ;(function () {
      for(var r=1; r<=8; r++) {
        var row = $(document.createElement('tr'))
        for(var c=1; c<=8; c++) {
          row.append($(document.createElement('td')).addClass('notclicked').attr('row', ''+r).attr('col', ''+c))
        }
        $('table').append(row)
      }
    })()

    function Game () {
      this.board = []
      this.gameOver = false
      this.numBombs = 10
      this.numFlagsLeft = this.numBombs
      this.firstClicked = false
      this.time = 0

      updateNumFlagsImages(this.numFlagsLeft)
      updateTimerImages(this.time)
      this.initBombs()
    }

    Game.prototype.initBombs = function () {
      var numBombsLeft = this.numBombs
      var numCellsLeft = 64
      for(var r=1; r<=8; r++) {
        var row = []
        for(var c=1; c<=8; c++) {
          var isBomb = false
          if(Math.floor(Math.random()*numCellsLeft)<numBombsLeft) {
            numBombsLeft--
            row.push(1)
          } else {
            row.push(0)
          }
          numCellsLeft--
        }
        this.board.push(row)
      }
    }

    Game.prototype.terminate = function () {
      gameOver = true
      stopTimer()
    }

    Game.prototype.lose = function (elem) {
      elem.addClass('bombdead')
      $('.face').attr('class', 'face facedead')

      colorAllBombs()
      this.terminate()
    }

    Game.prototype.win = function () {
      $('.face').attr('class', 'face facewin')

      this.terminate()
    }

    var updateNumFlagsImages = function (numFlagsLeft) {
      var str = String(numFlagsLeft)
      while (str.length<3) str = '0'+str

      $('.minesLeft').find('div').eq(0).attr('class', '').addClass(digitClasses[Number(str[0])])
      $('.minesLeft').find('div').eq(1).attr('class', '').addClass(digitClasses[Number(str[1])])
      $('.minesLeft').find('div').eq(2).attr('class', '').addClass(digitClasses[Number(str[2])])
    }

    var updateTimerImages = function (time) {
      var str = String(time)
      while(str.length<3) str = '0'+str

      $('.timer').find('div').eq(0).attr('class', '').addClass(digitClasses[Number(str[0])])
      $('.timer').find('div').eq(1).attr('class', '').addClass(digitClasses[Number(str[1])])
      $('.timer').find('div').eq(2).attr('class', '').addClass(digitClasses[Number(str[2])])
    }

    var incrementTimerImages = function () {
      game.time++

      updateTimerImages(game.time)
    }

    var stopTimer = function () {
      clearInterval(game.interval)
    }

    var restartGame = function () {
      $('.face').attr('class', 'face facesmile')

      game = new Game()

      $('td').each(function () {
        $(this).attr('class', 'notclicked')
      })
      if(game.interval) clearInterval(game.interval)
    }
    restartGame()

    var colorAllBombs = function () {
      for(var r=1; r<=8; r++) {
        for(var c=1; c<=8; c++) {

          var elem = $('[row="'+r+'"][col="'+c+'"]')

          if(elem.hasClass('flagged')) {
            if(!game.board[r-1][c-1]) elem.removeClass('flagged').addClass('misflagged')
          } else {
            if(game.board[r-1][c-1]&&!elem.hasClass('bombdead')) elem.addClass('bomb')
          }
        }
      }
    }

    var getNumber = function (row, col) {
      row = Number(row), col=Number(col)
      var numNeighbors = 0
      for(var r=row-2; r<row+1; r++) {
        for(var c=col-2; c<col+1; c++) {
          if(r>=0&&c>=0&&r<8&&c<8&&(r!=row-1||c!=col-1)&&game.board[r][c]) numNeighbors++
        }
      }
      return numNeighbors
    }

    var numberToString = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    var setNumber = function (r, c) {
      r = Number(r), c=Number(c)

      if(r<1||r>8||c<1||c>8) return
      console.log('setNumber: '+r,c)

      var num = getNumber(r, c)
      var elem = $('[row="'+r+'"][col="'+c+'"]')
      if(elem.hasClass('clicked')||elem.hasClass('flagged')) return
      elem.addClass(numberToString[num])
      elem.addClass('clicked').removeClass('notclicked')

      if(num==0) {
        setNumber(r-1, c-1)
        setNumber(r-1, c)
        setNumber(r-1, c+1)
        setNumber(r, c-1)
        setNumber(r, c+1)
        setNumber(r+1, c-1)
        setNumber(r+1, c)
        setNumber(r+1, c+1)
      }
    }

    var click = function (elem) {
      elem.removeClass('notclicked')

      var r = elem.attr('row')
        , c = elem.attr('col')

      if(game.board[r-1][c-1]) {
        game.lose(elem)
      } else {
        setNumber(r, c)
      }
    }

    var getPiece = function (elem) {
      var r = Number(elem.attr('row'))-1
      var c = Number(elem.attr('col'))-1

      return game.board[r][c]
    }
  
    var flag = function (elem) {
      game.numFlagsLeft --

      if(getPiece(elem) == 0) incorrect=true

      if(game.numFlagsLeft==0) {
        game.win()
      }

      updateNumFlagsImages(game.numFlagsLeft)

      elem.attr('class', 'flagged')
    }

    var unflag = function (elem) {
      game.numFlagsLeft ++
      elem.removeClass('flagged').addClass('notclicked')
      updateNumFlagsImages(game.numFlagsLeft)
    }

    $('.notclicked').mousedown(function (e) {
      if(game.gameOver) return
      console.log('clciked')

      if(!game.firstClicked) {
        game.firstClicked = true

        game.interval = window.setInterval(function () {
          incrementTimerImages()
        }, 1000)
      }

      if(e.ctrlKey) {
        if($(this).hasClass('flagged')) unflag($(this))
        else if($(this).hasClass('notclicked')) flag($(this))

        return
      }

      if(!$(this).hasClass('notclicked')) return
      
      click($(this))
    })

    $('.face').click(function () {
      restartGame()
    })