extend layout

block links
  link(rel='stylesheet', href='/stylesheets/minesweeper.css')

block content
  div.contentBox
    div.heading
      div.minesLeft
        div.digitZero &nbsp;
        div.digitOne &nbsp;
        div.digitZero &nbsp;
      div.face.facesmile &nbsp;
      div.timer
        <img src="http://www.freeminesweeper.org/images/time0.gif" border="0" name="bomb100s" width="13" height="23" alt=""><img src="http://www.freeminesweeper.org/images/time0.gif" border="0" name="bomb100s" width="13" height="23" alt=""><img src="http://www.freeminesweeper.org/images/time0.gif" border="0" name="bomb100s" width="13" height="23" alt="">
    div.board
      table
  script.
    var board = []
    var gameOver = false
    var numBombs = 10
    var numFlagsLeft = numBombs


    //init board
    ;(function () {
      for(var r=1; r<=8; r++) {
        var row = $(document.createElement('tr'))
        for(var c=1; c<=8; c++) {
          row.append($(document.createElement('td')).addClass('notclicked').attr('row', ''+r).attr('col', ''+c))
        }
        $('table').append(row)
      }
    })()

    var restartGame = function () {
      $('.face').removeClass('facedead').removeClass('facewin').addClass('facesmile')
      board = []
      gameOver = false
      numFlagsLeft = numBombs

      var numBombsLeft = numBombs
      var numCellsLeft = 64
      for(var r=1; r<=8; r++) {
        var row = []
        for(var c=1; c<=8; c++) {
          var isBomb = false
          if(Math.floor(Math.random()*numCellsLeft)<numBombsLeft) {
            numBombsLeft--
            row.push(1)
          } else {
            row.push(0)
          }
          numCellsLeft--
        }
        board.push(row)
      }

      $('td').each(function () {
        $(this).removeClass('clicked').removeClass('bomb').removeClass('flagged').removeClass('misflagged').removeClass('bombdead').addClass('notclicked')
        .removeClass('one').removeClass('two').removeClass('three').removeClass('four').removeClass('five').removeClass('six').removeClass('seven').removeClass('eight').removeClass('nine')
      })
    }
    restartGame()

    var colorAllBombs = function () {
      for(var r=1; r<=8; r++) {
        for(var c=1; c<=8; c++) {

          var elem = $('[row="'+r+'"][col="'+c+'"]')

          if(elem.hasClass('flagged')) {
            if(!board[r-1][c-1]) elem.removeClass('flagged').addClass('misflagged')
          } else {
            if(board[r-1][c-1]&&!elem.hasClass('bombdead')) elem.addClass('bomb')
          }
        }
      }
    }

    var getNumber = function (row, col) {
      row = Number(row), col=Number(col)
      var numNeighbors = 0
      for(var r=row-2; r<row+1; r++) {
        for(var c=col-2; c<col+1; c++) {
          if(r>=0&&c>=0&&r<8&&c<8&&(r!=row-1||c!=col-1)&&board[r][c]) numNeighbors++
        }
      }
      return numNeighbors
    }

    var numberToString = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    var setNumber = function (r, c) {
      r = Number(r), c=Number(c)

      if(r<1||r>8||c<1||c>8) return
      console.log('setNumber: '+r,c)

      var num = getNumber(r, c)
      var elem = $('[row="'+r+'"][col="'+c+'"]')
      if(elem.hasClass('clicked')||elem.hasClass('flagged')) return
      elem.addClass(numberToString[num])
      elem.addClass('clicked').removeClass('notclicked')

      if(num==0) {
        setNumber(r-1, c-1)
        setNumber(r-1, c)
        setNumber(r-1, c+1)
        setNumber(r, c-1)
        setNumber(r, c+1)
        setNumber(r+1, c-1)
        setNumber(r+1, c)
        setNumber(r+1, c+1)
      }
    }

    var click = function (elem) {
      elem.removeClass('notclicked')

      var r = elem.attr('row')
        , c = elem.attr('col')

      if(board[r-1][c-1]) {
        console.log('board bombdead')
        gameOver = true
        elem.addClass('bombdead')
        colorAllBombs()
        $('.face').removeClass('facesmile').addClass('facedead')
      } else {
        setNumber(r, c)
      }
    }

    var getPiece = function (elem) {
      var r = Number(elem.attr('row'))-1
      var c = Number(elem.attr('col'))-1

      return board[r][c]
    }

    var updateNumFlagsImages = function () {
      var str = String(numFlagsLeft)
      while (str.length<3) str = '0'+str

      $('.minesLeft').find('div').eq(0).attr('class', '').addClass(digitClasses[Number(str[0])])
      $('.minesLeft').find('div').eq(1).attr('class', '').addClass(digitClasses[Number(str[1])])
      $('.minesLeft').find('div').eq(2).attr('class', '').addClass(digitClasses[Number(str[2])])
    }

    var digitClasses = ['digitZero', 'digitOne', 'digitTwo', 'digitThree', 'digitFour', 'digitFive', 'digitSix', 'digitSeven', 'digitEight', 'digitNine']
    var flag = function (elem) {
      numFlagsLeft --

      if(getPiece(elem) == 0) incorrect=true

      if(numFlagsLeft==0) {
        $('.face').addClass('facewin').removeClass('facesmile')
        gameOver = true
      }

      updateNumFlagsImages()

      elem.removeClass('notclicked')
      elem.addClass('flagged')


    }

    var unflag = function (elem) {
      numFlagsLeft ++
      elem.removeClass('flagged').addClass('notclicked')
      updateNumFlagsImages()
    }

    $('.notclicked').mousedown(function (e) {
      if(gameOver) return

      if(e.ctrlKey) {
        if($(this).hasClass('flagged')) unflag($(this))
        else flag($(this))

        return
      }

      if(!$(this).hasClass('notclicked')) return
      
      click($(this))
    })

    $('.flagged').click(function () {
      console.log('event')
      $(this).removeClass('flagged')
    })

    $('.face').click(function () {
      restartGame()
    })